/* Base styles for all devices */
body {
    background-color: black;
    margin: 0; /* Add margin reset for consistency */
}


#search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
}
#map {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

/* Media queries for responsiveness */

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
    h1 {
        font-size: 1.5em;
        padding: 10px;
    }

    #map {
        height: 80vh;
        width: 100%;
    }
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 1023px) {
    h1 {
        font-size: 2em;
        padding: 15px;
    }

    #map {
        height: 90vh;
        width: 100%;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    h1 {
        font-size: 2.5em;
        padding: 20px;
    }

    #map {
        height: 100vh;
        width: 100vw;
    }
}
